body {
  padding: 0;
  margin: 0;
}

/* ******************HEADER****************************** */
header {
  justify-content: space-between;
  display: flex;
  align-items: center;
  width: 100%;
  height: 150px;
  background-color: #cecece;
}
header {
  -webkit-animation: color-change-4x 6s linear infinite alternate both;
  animation: color-change-4x 6s linear infinite alternate both;
}

@-webkit-keyframes color-change-4x {
  0% {
    background: #19dcea;
  }
  33.3333% {
    background: #b22cff;
  }
  66.666% {
    background: #ea2222;
  }
  100% {
    background: #f5be10;
  }
}
@keyframes color-change-4x {
  0% {
    background: #19dcea;
  }
  33.3333% {
    background: #b22cff;
  }
  66.666% {
    background: #ea2222;
  }
  100% {
    background: #f5be10;
  }
}

nav {
  display: flex;
}

ul {
  display: flex;
}

li {
  list-style-type: none;
}
li a {
  padding: 18px 16px;
}

nav ul a,
#navdeco {
  margin: 0 10px;
  border-radius: 20px;
  width: auto;
  padding: 5px 20px;
  background-color: rgb(194, 193, 192);
  line-height: 25px;
  text-align: center;
  color: rgb(27, 22, 22);
  text-decoration: none;
  font-family: "Bebas Neue", cursive;
  font-size: 1.1em;
}

#navdeco {
  display: flex;
}

#navdeco:hover {
  color: white;
  background-color: grey;
  font-family: "Bebas Neue", cursive;
}

nav ul a:hover {
  color: white;
  background-color: grey;
  font-family: "Bebas Neue", cursive;
}

#title {
  text-align: center;
  font-family: "Bebas Neue", cursive;
  font-size: 3.2em;
}

/* **************PROFIL CONNEXION et INSCRIPTION FORM*************** */
#ac {
  text-align: center;
}
#myid {
  text-align: center;
}

h2 {
  text-align: center;
}

.form {
  background: whitesmoke;
  margin: 0 auto;
  border-radius: 15px;
  box-shadow: 0 2px 12px 5px rgba(51, 73, 68, 0.247);
  background-color: rgba(247, 247, 247, 0.596);
  padding: 10px;
  backdrop-filter: blur(3px);
  border: 2px solid rgb(5, 7, 8);
  text-align: left;
  display: inline-block;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

input {
  margin: 5px;
  height: 30px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
  padding: 10px;
  font-size: 1.1rem;
}

#but {
  text-align: center;
  margin-top: 10px;
}

button[type="submit"] {
  cursor: pointer;
  background-color: rgb(106, 233, 129);
  transition: 0.4s;
}
button[type="submit"]:hover {
  background: rgb(203, 212, 212);
  color: rgb(0, 0, 0);
}

button {
  cursor: pointer;
  border: none;
  font-size: 1.3rem;
  padding: 10px 20px;
  border-radius: 150px;
  margin: 0 auto;
  transition: 0.4s;
}
/* button:hover {
  letter-spacing: 3px;
} */
button:active {
  transform: scale(1.2);
}
button:hover + a,
a:hover {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.lorem {
  color: transparent;
}

/* **********LIVRE D'OR*************************** */
.container {
  display: flex;
  justify-content: center;
}
.comments {
  display: block;
  width: 200px;
  text-align: center;
}
.livre {
  align-items: center;
  padding: 20px;
  background: #8383aa;
  color: #ecf0f1;
  font-family: "Courier New", Courier, monospace;
  font-style: italic;
}

/* *****************COMMENTAIRES********************** */
.main-com {
  display: flex;
}

#imgcom {
  display: flex;
  height: 400px;
  margin-top: 10%;
}

.container {
  display: block;
  align-items: center;
  width: 50%;
  border: 1px solid rgb(202, 202, 202);
  border-radius: 8px;
  /* margin-left: 25%;
  margin: right 25%; */
  margin-top: 5%;
  margin-bottom: 5%;
}

.container > h1 {
  font-weight: 500;
  text-align: center;
}

#postcom {
  text-align: center;
  font-style: italic;
  color: gray;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

form div {
  width: 80%;
  display: flex;
  text-align: center;
  flex-direction: column;
  min-height: 83px;
}

form div > label {
  margin-bottom: 7px;
  font-weight: 600;
}

.bloc-com {
  margin-left: 10%;
  margin-right: 10%;
}
form div > textarea {
  background: rgb(106, 233, 129);
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
  font-family: Montserrat, "sans-serif";
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
}

form div > textarea {
  height: 195px;
  resize: none;
}

form div > textarea::placeholder {
  color: white;
}

.poster {
  display: flex;
  padding: 20px;
  justify-content: center;
}

#comm {
  margin-right: 20px;
  margin-top: 10px;
  cursor: pointer;
  width: 450px;
  max-width: 500px;
  height: 60px;
  font-size: 28px;
  background: rgb(203, 212, 212);
  border: rgba(48, 48, 48, 0.5) solid 1px;
  border-radius: 5px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: #303030;
  transition: 0.4s;
}

#comm:hover {
  background: rgb(126, 226, 145);
  color: rgb(0, 0, 0);
}

/* **************$ERROR***************** */
.error {
  text-align: center;
  color: red;
  font-weight: bold;
}

/* ********************footer******************** */

#icons a {
  margin: 0 15px;
}

#icons {
  text-align: center;
}

#icons :hover {
  transform: scale(1.3);
  transition: 0.5s;
}

footer {
  background-color: rgba(164, 168, 180, 0.596);
  height: 250px;
  display: grid;
  grid-template-columns: repeat(3);
}
.h1foot {
  color: rgb(15, 15, 15);
  font-size: 45px;
  text-align: center;
  font-family: "Bebas Neue", cursive;
}
.copyright {
  text-align: center;
  font-weight: bold;
  margin-top: 40px auto;
  color: rgb(3, 3, 3);
}
